src/test/resources/storeXmlSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="CATALOG">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="PLANT">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="COMMON" type="xs:string" />
                            <xs:element name="BOTANICAL" type="xs:string" />
                            <xs:element name="ZONE" type="xs:string" />
                            <xs:element name="LIGHT" type="xs:string" />
                            <xs:element name="PRICE" type="xs:string" />
                            <xs:element name="AVAILABILITY" type="xs:unsignedInt" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>